<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.crt.dc.ngn.soundroid">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PlayerActivity" />
        <activity
            android:name=".animation.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <receiver
            android:name=".notification.NotificationBroadcast"
            android:exported="false">
            <intent-filter>
                <action android:name="fr.crt.dc.ngn.soundroid.PREVIOUS" />
                <action android:name="fr.crt.dc.ngn.soundroid.NEXT" />
                <action android:name="fr.crt.dc.ngn.soundroid.PAUSE" />
                <action android:name="fr.crt.dc.ngn.soundroid.PLAY" />
                <action android:name="fr.crt.dc.ngn.soundroid.DELETE" />
                <action android:name="test" />
            </intent-filter>
        </receiver>

        <service android:name=".service.SongService" />
    </application>

</manifest>